@import "simplelightbox/dist/simple-lightbox.min.css";

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    max-width: 1128px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}


.gallery-item {
    width: 360px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-link {
    width: 100%;
    height: 100%;
}

.gallery-image {
    width: 100%;
    height: 100%;
}